# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
expo-app/node_modules/

# Expo
expo-app/.expo/
dist/
**/web-build/
expo-app/expo-env.d.ts
expo-app/app/expo-env.d.ts
expo-env.d.ts
**/*.expo-shared

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
expo-app/.env
backend/new/.env
**/.env.*


# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

.expo/
expo-app/.gitignore
